*{margin: 0;padding: 0;}

body{
	font-family:'Open Sans', sans-serif;
	background-color: #fff;
	text-align: center;
	margin: auto;
	height: 650px;
}
form{
	text-align: center;
	margin: auto;
	position: relative;

}

#logingeral{
	margin: auto;
	position: relative;
}

.Titulo{
  font-size: 25px;
}

.Titulo1{
  font-size: 20px;
}
