.bemvindo{
	margin: auto;
	text-align: center;
	top: 300px;
	position: relative;
}


.Titulo{
  font-size: 45px;
  margin: auto;
}

.Titulo1{
  font-size: 20px;
}

.meio{
	text-align: center;
}

.centro{
	margin: auto;
	text-align: center;
	top: 70px;
	position: relative;
}

