*{margin: 0; padding: 0;}
 body{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 25px;
 	color: #000;
 	background-color: #D6F8C5;
 	font-weight: 300;

 }
 /*MENU*/
h1{
 	background-color:81c85e; 
 	height: 63px;
 	border-right: solid 2px #A7E18B;
 	font-family: 'Open Sans', sans-serif;
 }
 .menu{
 	height: 100%;
 	width: 20%;
 	background:#A7E18B; 
 	position: fixed;
 	width: 273;
 	color: FFF;
 }
 a:link{
 	color: FFF;
 	text-decoration: none;

 }
 a:visited{
 	color:FFF;
 	text-decoration: none;
 }
 .item:hover{
 	background-color:81c85e;
 	text-decoration: none;
 }
 .puxado li:hover{
 	background-color:81c85e;
 	text-decoration: none;
 }
#liv a:hover {
	background-color:81c85e;
 	text-decoration: none;
 }
 li{
 	padding: 15px;
 	position: relative;
 }

 .puxado{
 	display: none;
 }

 .puxado li{
 	list-style: none;
 }

 #liv li{
 	padding: 15px;
 	position: relative;
 	text-decoration: none;
 }

 #liv:hover .puxado {
 	display: block;

 }

.imgm{
	width: 65px;
}
.puxado{
	font-size: 70%;
}
/*fim menu*/

h2{ 

	text-align: center;
	border-left: 70px;
	color: #FFF;
	background-color:81c85e; 
	height: 63px;
}
#sug{
	text-align: center;
}
p{
	color: #232930;
	border-top: 40px;
	position: relative;
	color: #002f67;
}

form{
	color: #002f67;
	border-top: 300px;
	top: 60px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#nome , #cargo , #email, #senha{
	border: solid 1px;
	border-color:  #fff;
	height: 35px;
	width: 490px;
	margin: 5px;
	font-size: 16px;
	border-top: 50px;
	border-radius: 10px;
	color: #5D6671;

}
#telefone, #user{ 
	width: 465px;
	border: solid 1px;
	border-color:  #fff;
	height: 35px;
	margin: 8px;
	font-size: 16px;
	border-top: 50px;
	border-radius: 10px;
	color: #5D6671;
}
 #user{
 	width: 470px;
 }

.but{
	height: 40px;
	width: 180px;
	color: #fff;
	background-color: #002f67;
	border-color: #fff;
	font-size: 18px;
	border-radius: 100px;
}
#botao:hover{
	background-color: #002f67;
}
.ic{
	border-top: 10px;
	width:80px;
	padding-top: 10px;
}
.refe{
	color: #232930;
	border-top: 40px;
	position: relative;
	color: #002f67;
}
h3{
	top: 40px;
	color: #002f67;
	text-align: center;
}